html {
  min-height: 100vh;
  font-family: Ubuntu, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

a {
  text-decoration: none;
}

header,
.top {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header-link,
.subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.button-top,
.call-to-action {
  background-color: #3882f6;
}

.info-title {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.quote-container {
  background-color: #e5e7eb;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 10px 0;
}

.title {
  width: 350px;
  margin: 0;
}

.subtext {
  max-width: 470px;
  margin: 0;
}

.top {
  display: flex;
  justify-content: center;
  gap: 42px;
  padding: 96px 0;
}

.top-right {
  display: flex;
  color: white;
  min-width: 480px;
  max-height: 200px;
  background-color: gray;
  align-items: center;
  justify-content: center;
}

.button-top {
  margin-top: 10px;
  display: inline-block;
  padding: 8px 38px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}
