html {
  font-family: Ubuntu, sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

header,
.top {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header-link,
.subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.button-top,
.call-to-action {
  background-color: #3882f6;
}

.info-title {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.quote-container {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
  width: 100vw;
}

.quote-box {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  align-items: flex-end;
  margin: 50px;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  text-align: justify;
  margin-bottom: 0;
}

.quote-author {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 10px 0;
}

.title {
  width: 350px;
  margin: 0;
}

.subtext {
  max-width: 470px;
  margin: 0;
}

.top {
  display: flex;
  justify-content: center;
  gap: 42px;
  padding: 96px 0;
}

.top-right {
  display: flex;
  color: white;
  min-width: 480px;
  max-height: 200px;
  background-color: gray;
  align-items: center;
  justify-content: center;
}

.button-top {
  margin-top: 10px;
  display: inline-block;
  padding: 8px 38px;
  border-radius: 8px;
  color: #f9faf8;
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.info-title {
  margin: 50px 0;
}

.content {
  display: flex;
  margin-bottom: 100px;
}

.box {
  border: 3px solid #3882f6;
  border-radius: 25px;
  height: 150px;
  width: 150px;
}

.box-container {
  max-width: 155px;
  margin: 0 30px;
}

.info-subtext {
  margin: 5px 0 0 0;
  text-align: center;
}

.call-to-action {
  display: flex;
  height: 125px;
  width: 950px;
  margin: 100px auto;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.cto-text {
  color: #f9faf8;
}

.cto-title,
.cto-subtitle {
  margin: 3px 0;
}

.cto-button {
  color: #f9faf8;
  padding: 8px 38px;
  border-radius: 8px;
  font-weight: bold;
  border: 3px solid #f9faf8;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #1f2937;
  height: 75px;
}

footer p {
  color: #f9faf8;
}
